.container {
  display: flex;
  gap: 3rem;
  margin: 1rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 2rem;
}
/* display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 2rem;
justify-content: flex-start;
align-items: center; */
