.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 3rem 0 2rem 0;
  align-items: end;

  color: white;
}

.list {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
}
.underline {
  width: 5rem;
  height: 3px;
  border-radius: 50px;
  background-color: blue;
  margin-bottom: 1rem;
}
.content {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  /* background-color: red; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 15rem;
  transition: all 0.5s ease-in-out;
  animation: fadein 2s alternate;
}

@keyframes fadein {
  0% {
    transform: translateY(-2px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.content .info h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}
.content .info h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.content .info p {
  font-size: 1.2rem;
  max-width: 60%;
}
.content a {
  color: white;
  background: blue;
  padding: 10px 15px 10px 25px;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  transition: 0.2s;
}
.content a:after {
  content: "Go";
  font-family: fontAwesome;
  position: relative;
  left: -20px;
  opacity: 0;
  transition: 0.2s;
}
.content a:hover:after {
  left: 10px;
  opacity: 1;
}
.content a:hover {
  padding: 10px 15px 10px 25px;
}
